input.ng-dirty.ng-valid {
  /*.formFieldState(@successText, @successText, @successBackground);*/
  border-color: @successText;
}

input.ng-dirty.ng-invalid {
  /*.formFieldState(@errorText, @errorText, @errorBackground);*/
  border-color: @errorText;
}

input.ng-pristine {

}

input.ng-dirty {

}

ul {
margin:0px;
}
li {
list-style:none;
}

#fields:nth-child(2){
	display:none;
}

.contacts li{
	margin-right:10px;
	float:left;
	width:10%;
}