.carousel3d(ng-controller="CarouselCtrl")
  .sections-view
    .sections(style='-webkit-transform: translateZ(-{{translateZ}}px) rotateY({{currIdx*-rotation}}deg)')
      figure.section( ng-repeat='section in sections', 
                style='-webkit-transform: rotateY({{section.rotateY}}deg) translateZ({{translateZ}}px)') {{section.template}}
        .section-fg
      //-.section( ng-repeat='section in sections', 
                ng-include="'partials/'+section.template+'.html'",
                style='-webkit-transform: rotateY({{section.rotateY}}deg) translateZ({{translateZ}}px)')
  .trigger-view
    .left-trigger(ng-click='decIdx()')
      .trigger-icon &lt;
    .right-trigger(ng-click='incIdx()')
      .trigger-icon &gt;