// Defined FunCtrl 
div#funstuff(ng-controller="FunCtrl")
	div.funstuff
		input(type="text", ng-model="SearchTerm") // Defined Model (that is used in Filter)
		ul
			li(ng-repeat="contact in mycontacts | filter:SearchTerm").alert.alert-info.span2
				
				div.row-fluid
					div.span2.pull-left.imgfield 
						img(src="https://demo.personal.com/avatar/{{contact | avatarId}}%23avatar?size=50")
					div.span10.pull-left 
						strong {{contact.metadata.email[0]}} 
						br
						small.muted +3976431231231
						br
						small.muted
							i.icon-map-marker
							i.icon-envelope-alt
							i.icon-phone-sign
							i.icon-facebook-sign
							i.icon-linkedin-sig
						ul
							li(ng-repeat="gem in mygems | mineGem:contact")
									strong {{gem.info.gem_instance_name}}
									br
									ul
										li(ng-repeat="gemData in gem.data")
											{{gemData}}
