div#ogi(ng-controller="FunOgi")
	input(ng-model="search")
	//{{contacts}}
	ul#repeat
		li(ng-repeat="contact in contacts")
			form(ng-submit='saveOgi(contact)')
				input(ng-model='contact.metadata.email', value="{{contact.metadata.email}}")
				input(ng-model='contact.metadata.name', value="{{contact.metadata.name}}")
				br
				br
				br
				input(class="btn btn-primary",type="submit",style="width:100px; height:30px;", value="SAVE")