.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true')&times;
  h3 Modal header
.modal-body
  p {{gem.info.gem_instance_name}}       
.modal-footer
  button.btn(type='button', ng-click='hide()') Close