ul.nav
  
  li(ng-class="getClass('/education')")
    a(ng-href='#/education')
        i.icon-lightbulb
        span.nav-text Education
  
  li(ng-class="getClass('/career')")
    a(ng-href='#/career') 
        i.icon-briefcase
        span.nav-text Career